*,
*:after,
*:before {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
html,
body {
   height: 100%;
   scroll-behavior: smooth;
}
aside,
nav,
footer,
header,
section {
   display: block;
}
a {
   text-decoration: none;
   color: #e5e5e5;
   display: block;
   transition: color 1s ease;
}
a:hover {
   color: #4dc9c9;
   transition: color 0.5s ease;
}
a:active {
   color: #4dc9c9;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Vollkorn", serif;
   font-weight: 500;
   color: #e5e5e5;
}
body {
   font-family: "Montserrat", sans-serif;
   color: #e5e5e5;
   font-size: 14px;
   font-weight: 300;
   line-height: 20px;
   background: #38383a;
}
.wrapper {
   min-height: 100vh;
   overflow: hidden;
}
.container {
   max-width: 1030px;
   margin: 0 auto;
   padding: 0 15px;
}

.section__title {
   font-family: "Vollkorn", serif;
   font-style: normal;
   font-weight: 500;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;
   color: #e5e5e5;
   margin-bottom: 50px;
}
.section__text {
   font-family: "Montserrat", sans-serif;
   font-style: normal;
   font-weight: 300;
   font-size: 16px;
   line-height: 22px;
   color: #e5e5e5;
}
.section__text p {
   margin-bottom: 15px;
}

/* HEADER BLOCK STARTS*/
.header {
   min-height: 10vh;
}
.navigation {
}
.nav__list {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.nav__item {
   margin: 15px;
   position: relative;
}
.nav__item:hover .nav__link {
   display: block;
   position: absolute;
   color: #3ccccb;
   transition: all 1s ease;
}

.nav__link {
   display: none;
   color: #e5e5e5;
   text-transform: uppercase;
   transition: all 1s ease;
}
.nav__icon {
   cursor: pointer;
}
/* HEADER BLOCK ENDS*/

.main {
   min-height: 80vh;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

.contacts {
   display: flex;
   flex-direction: column;
   justify-content: end;
   align-items: flex-end;

   display: none;
}
.contacts__silhouette {
   width: 300px;
   height: 349px;
}
.contacts__title {
   font-size: 30px;
   line-height: 34px;
   text-align: center;
   text-transform: uppercase;
}
.contacts__text {
   font-family: "Montserrat";
   font-weight: 300;
   font-size: 20px;
   line-height: 24px;
   padding: 5px 0;
}

.about {
   display: flex;
   flex-direction: row;
   justify-content: start;
   align-items: center;
   flex-wrap: wrap;

   display: none;
}
.about__photo {
   width: 350px;
}

.about__content {
   padding-left: 50px;
   text-align: left;
   max-width: 600px;
}

.about__sign {
}

/* FOOTER BLOCK STARTS*/
.footer {
   min-height: 10vh;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.footer__list {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.footer__item {
   margin: 15px;
}
.footer__link {
   position: relative;
   /*padding-left: 35px;*/
   color: #e5e5e5;
   display: flex;
   align-items: center;
}
.footer__link span {
   margin-left: 10px;
}
.footer__link:hover {
   color: #4dc9c9;
}
.footer__link svg path {
   fill: #e5e5e5;
}
.footer__link:hover svg path {
   fill: #4dc9c9;
}
.footer__link,
.footer__link svg path {
   transition: 0.5s ease-in-out;
}
/*
.email::before {
   content: "";
   position: absolute;
   top: -5px;
   left: 0;
   width: 25px;
   height: 25px;
   background: url(./assets/svg/email.svg) no-repeat center center;
}
*/
.github::before {
   content: "";
   position: absolute;
   top: -5px;
   left: 0;
   width: 25px;
   height: 25px;
   background: url(./assets/svg/github.svg) no-repeat center center;
}
.phone::before {
   content: "";
   position: absolute;
   top: -5px;
   left: 0;
   width: 25px;
   height: 25px;
   background: url(./assets/svg/phone.svg) no-repeat center center;
}
.web::before {
   content: "";
   position: absolute;
   top: -5px;
   left: 0;
   width: 25px;
   height: 25px;
   background: url(./assets/svg/web.svg) no-repeat center center;
}
.rsschool {
   padding-left: 80px;
}
.rsschool::before {
   content: "";
   position: absolute;
   top: -5px;
   left: 0;
   width: 70px;
   height: 25px;
   background: url(./assets/svg/rs_school.svg) no-repeat center center;
}
/* FOOTER BLOCK ENDS*/

@media only screen and (max-width: 575px) {
   .about__photo {
      display: none;
   }
}
@media only screen and (max-width: 1000px) {
   .about__photo {
      width: 200px;
   }
}
